<html>
    <head>
        <title>SkillBot Error</title>
        <% include header %>
    </head>
    <body style="margin-top:10%; text-align: center">
        <img src="/SkillBotLogo-512x512.jpg" width="150"/>
        <h1>Something went wrong!</h1>
        <h2>Please try again later</h2>
    </body>
</html>