<html>
    <head>
        <% include header %>
    </head>
    <body style="margin-top: 10%; text-align: center">
        <img src="/SkillBotLogo-512x512.jpg" width="150"/>
        <h1>Success - SkillBot installed!</h1>
        <h2>Try messaging it now - @skillbot</h2>
    </body>
</html>